a {
    color: inherit;
    margin: 0;
    padding: 0;
} 

a:link {
    text-decoration: none;
  }

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    padding-left: 28em;
    padding-right: 28em;
}

.header-left {
    color: #f9faf8;
    font-size: 24px;
    list-style: none;
}

.header-right {
    color: white;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.container-one {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-one {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.button-one {
    background-color: #3882f6;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 6px;
    color: white;
}

.one-left {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-basis: 28em;
}
.one-right {
    padding: 25px;
    height:200px;
    display: flex;
}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.title-two {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.boxes {
display: flex;
}

.info {
    max-width: 200px;
    padding: 1em;
}

.container-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.qtext-one {
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 25em;
    padding-bottom: 15px;
}

.qtext-two {
    display: flex;
    align-items: right;
    padding-left: 40em;
    font-weight: 700;
}

.container-four {
display: flex;
justify-content: center;
align-items: center;
padding: 50px;
}

.box-four {
    background-color: #3882f6;
    border-radius: 6px;
    max-width: 100em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 60px;
}

.sign-up {
    color: white;
    padding: 16px;
    flex-direction: row;
}

.stext-one {
    font-size: 18px;
}

.stext-two {
    font-size: 12px;
}

.button-two {
    background-color: #3882f6;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    color: white;
    border-color: white;
    margin-left: 100px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}